body{
    margin: 0;
    font-family: 'Arial';
    background-color:#0f172a;
    color:azure;
}

header{
    background-color: #1e293b;
    padding: 20px;
    text-align:center;
    background: linear-gradient(270deg, #1e293b, #071a475e);
    background-size: 200% 200%;
    animation: gradientFlow 12s ease infinite; 
}

/* navigation */
nav {
    display:flex;
    justify-content: center;
    gap: 25px;
    background-color: #334155;
    padding: 10px 0;
}
nav a{
    color: azure;
    padding: 5px 10px;
    font-weight: bolder;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s; 
}
nav a.active{
    border-bottom: 2px solid rgb(58, 115, 161);
}
nav a:hover{
    color: rgb(67, 137, 194);
}


/* basic and first page */
.card{
     margin-top: 30px;
    background-color:#1c2b42;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card h2{
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.card p{
    line-height: 1.6;
    font-size: 1rem;
}
img{
    max-width: 200px;
    border-radius: 10px;
    display:block;
    margin: 10px 0;
}

/* history and future-part */
.item{
    display:flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.card-text{
    flex: 1;
}
.card-img img{
    width: 300px;
    border-radius: 10px;
}

/* pros and cons -part (and a bit of history and future)*/
.list{
    list-style-image: url('images/list-icon.png');
    list-style-position: inside;
    flex: 1;
    font-size: 20px;
}
.list li{
    padding:15px 15px 20px 10px;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.text{
    font-size: 17px;
}
.images, .images-cons{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.images img, .images-cons img{
    height: auto; 
    margin-right: 20px;
    margin-top: 30px;
}
.images-cons{
    gap: 40px;
}
p.conclusion{
    font-size: 18px;
}

p a{
    color:rgb(46, 152, 238);
}

/* footer */
footer{
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    color: #a5a4a4;
}

/* animations and design*/
.card, img{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease forwards;
}
.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

@keyframes fadeUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientFlow{
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100%{ background-position: 0% 50%; }
}

html{
    scroll-behavior: smooth;
}



